@import '../../app/css-constants';

.form {
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    &__calc-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    
    &__input-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 50px;
    }

    &__input-label {
        @include subtext;
        color: $main-black;
    }
    
    
    &__input {
        @include subtext;
        width: 100%;
        height: 40px;
        border: 1px solid $main-black;
        border-radius: 6px;
        padding: 0 15px;
        background-color: transparent;
        font-family: inherit;
        font-size: 20px;
        color: $main-black;
        box-sizing: border-box;
        
    }

    &__input:focus {
        border: none;
        outline: 1px solid $main-blue;    
    }
    
    &__input-option {
        font-size: 15px;
        line-height: 20px;
        color: white;
        font-weight: 200;
    }

    &__submit-button {
        @include button-outlined-black;
        // width: 150px;
        // height: 40px;
        // border: 1px solid white;
        // border-radius: 8px;
        // background-color: transparent;
        // color: white;
        // font-family: inherit;
        // font-size: var(--buttonTextL);
        // line-height: 15px;
        // font-weight: 400;
        // box-shadow: 0 0 10px rgba(0, 0, 0, .25);
        // z-index: 2;
        // cursor: pointer;
    }
}