.screen {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 150px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    margin: 0;
    padding: 0;
    font-size: var(--screenTitleL);
    line-height: 40px;
    font-weight: 600;
    text-align: left;
    color: #383838;
    z-index: 2;
    align-self: flex-start;
}

.description {
    font-size: var(--plainTextL);
    line-height: 20px;
    font-weight: 400;
    padding: 0;
    margin: 30px 0 0 0;
    max-width: none;
    text-align: left;
    align-self: flex-start;
}

.cards_block {
    margin: 50px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 50px;
}

.card {
    width: 50%;    
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
   
}
.card:last-of-type {
    border: none;
    backdrop-filter: blur(5px);
    background-color: rgba(56,56,56,.8);
    border-radius: 20px;
    gap: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25); 
}

.stage_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card_title_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: none;
    border-bottom: 1px solid #383838;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.card_number {
    margin: 0;
    padding: 0;
    font-size: var(--headLFont);
    line-height: 30px;
    font-weight: 600;
}


.card_text {
    color: white;
    font-size: var(--plainTextL);
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.card_button {
    width: 150px;
    height: 40px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    font-size: var(--buttonTextL);
    line-height: 15px;
    font-weight: 400;
    cursor: pointer;
}


.card_description_box {
    width: 100%;
    margin: 0;
    margin-left: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 20px
}

.card_description_title {
    text-align: left;
    font-size: var(--headLFont);
    line-height: 35px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-transform: capitalize;

}

.card_description {
    text-align: left;
    font-size: var(--plainTextL);
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}



@media (max-width: 1200px) {
    .screen {
        padding: 100px 20px;
    }

    .cards_block {
        gap: 20px;
    }

    .card {
        padding: 0;
    }

    .card:last-of-type {
        padding: 50px;
    }
  
}


@media (max-width: 960px) {
    .cards_block {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
        margin-top: 100px;
    }

    .title {
        font-size: var(--screenTitleM);
        line-height: 30px;
        text-align: center; 
        align-self: center;
    }


    .description {
        align-self: center;
        text-align: center;
        font-size: var(--plainTextM);
    }
    .card {
        width: 75%;
    }

    .card:last-of-type {
        padding: 50px
    }

    .card_description_title {
        font-size: var(--headMFont);
        line-height: 25px;
    }

    .card_number {
        font-size: var(--headMFont);
        line-height: 25px;
    }

    .card_button {
        font-size: var(--buttonTextM);
    }
    

    
   
    
}

@media (max-width: 600px) {

    .card {
        width: 100%;
    }

    .card:last-of-type {
        width: 100%;
        border-radius: 15px;
        padding: 50px 30px;
        gap: 20px;
    }

    .card_description_box {
        margin-left: 20px;
    }

    .card_description {
        margin-left: 0;
    }

}


@media (max-width: 480px) {
    .screen {
        padding: 100px 10px;
    }
    
    .title {
        font-size: var(--screenTitleS);
    }

    .description {
        font-size: var(--plainTextS);
    }

    .card_number {
        font-size: var(--headSFont);
    }

    .card_description_title {
        font-size: var(--headSFont);
    }

    .card_description {
        font-size: var(--plainTextS);
    }

    .card_text {
        font-size: var(--plainTextS);
    }

    .card_button {
        font-size: var(--buttonTextS);
    }
}