.screen {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    text-align: left;
    color: #383838;
    z-index: 2;
    align-self: flex-start;
}

.description {
    font-size: 15px;
    line-height: 20px;
    font-weight: 200;
    padding: 0;
    margin: 30px 0 0 0;
    max-width: 490px;
    text-align: left;
    align-self: flex-start;
}

.cards_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 150px 0 0 0;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 300px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    background-color: #e5e5e5;
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card_title_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: none;
    border-bottom: 1px solid #383838;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.card_number {
    margin: 0;
    padding: 0;
    font-size: 100px;
    line-height: 100px;
    font-weight: 600;
}


.card_timing {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 15px;
    font-weight: 200;
}

.card_description_box {
    width: 100%;
    height: 100%;
    min-height: 240px;
    margin: 0;
    padding: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    gap: 100px
}

.card_description {
    width: 100%;
    text-align: right;
    font-size: 15px;
    line-height: 20px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.timer_total {
    width: 100%;
    text-align: right;
    font-size: 15px;
    line-height: 20px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

@media (max-width: 800px) {
    .screen {
        padding: 100px 20px;
    }

    .cards_block {
        gap: 20px;
    }
  
}


@media (max-width: 660px) {
    .cards_block {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .title {
        font-size: 30px;
        line-height: 30px;
        text-align: center; 
        align-self: center;
    }


    .description {
        font-size: 10px;
        line-height: 15px;
        align-self: center;
        text-align: center;
    }
    .card {
        width: 50%;
    }
    .card_number {
        font-size: 50px;
        line-height: 50px;
    }

    .card_timing {
        font-size: 10px;
        line-height: 10px;
    }
    .card_description {
        font-size: 10px;
        line-height: 15px;
    }
    .card_description_box {
        min-height: 120px;
        padding: 50px 0 0 0;
        gap: 50px
    }
    .timer_total {
        font-size: 10px;
        line-height: 15px;
    }
    
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }
}