.calcPage {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 25px;
}

.calcScreen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.breadcrumbs_wrapper {
    width: 100%;
    margin-bottom: 25px;
}