.screen {
    width: 100%;
    height: calc(100vh + 100px);
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 200px 50px 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}


.column_one {
    box-sizing: border-box;
    width: 40%;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    height: 100%;
    padding: 0px 20px;
}


.swiper {
    width: 60%;
    height: 100%;
    border-radius: 20px;
}
.slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide_title {
    font-size: var(--headLFont);
    color: white;
    position: absolute;
    top: 35px;
    left: 35px;
    z-index: 5;
    margin: 0;
    padding: 0;
}

.index {
    position: absolute;
    left: 35px;
    bottom: 20px;
    font-size: calc(var(--headLFont) * 6);
    font-weight: 600;
    color: white;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.slide_img {
    filter: grayscale(100%) contrast(50%);
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}



.text {
    font-size: var(--plainTextL);
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
    margin: 0;
    padding: 0;
}

.digits_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.counter_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    max-width: 120px;
}

.counter {
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: left;
}

.counter_subtitle {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: left;
}


@media (max-width: 1200px) {
    .screen {
        padding: 200px 20px 100px;
    }
}

@media (max-width: 960px) {
    .screen {
        padding: 150px 10px 100px;
        flex-direction: column;
        align-items: center;
        gap: 75px;
    }
    .column_one {
        width: 100%;
        padding: 0 100px;
        gap: 25px;
        justify-content: flex-start;
        height: auto;
    }
    .slide_img {
        width: auto;
        height: 100%;
    }
    .swiper {
        width: 90%;
        height: auto;
        align-self: center;
    }
    
    .text {
        font-size: var(--plainTextM);
    }
    .index {
        font-size: calc(var(--headMFont) * 5);
    }

    .slide_title {
        font-size: var(--headMFont);
    }
}




@media (max-width: 700px) {
    .column_one {
        padding: 0px 50px;
    }
    .swiper {
        height: 60%;
        width: 100%;
    }
}


@media (max-width: 480px) {
    .screen {
        gap: 30px;
        height: calc(100vh + 150px);
        padding: 150px 10px 50px;
        justify-content: flex-start;
    }
    .swiper {
        width: 100%;
        height: auto;
    }
    .index {
        font-size: calc(var(--headSFont) * 4);
        left: 20px;
        bottom: 10px;
    }
    .slide_title {
        font-size: var(--headSFont);
        left: 20px;
        top: 20px;
    }
    .column_one {
        padding: 0;
        height: 50%;
    }

    .swiper {
        height: 40%;
        width: 100%;
    }
}