.screen {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, .35); 
}

.contacts_block {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #e5e5e5;
    box-sizing: border-box;
    margin: 0;
    padding: 100px 120px;
}

.contacts_title {
    margin: 0;
    padding: 0;
    font-size: var(--screenTitleL);
    line-height: 45px;
    font-weight: 600;
    text-align: left;
    color: #383838;
    z-index: 2;

}

.contacts_text {
    margin: 0;
    padding: 0;
    font-size: var(--plainTextL);
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    color: #383838;
    text-decoration: none;
}

.map_block {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    filter: grayscale(100);
}

.map {
    width: 100%;
    height: 100%;
}

@media (max-width: 960px) {
    .contacts_block {
        padding: 50px;
    }

    .contacts_title {
        font-size: var(--screenTitleM);
        line-height: 35px;
    }

    .contacts_text {
        font-size: var(--plainTextM);
    }
}

@media (max-width: 700px) {
    .screen {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }
    .contacts_block {
        width: 100%;
        height: 50vh;
    }
    .map {
        width: 100%;
        height: 50vh;
    }
    .map_block {
        width: 100%;
        height: 50vh;
    }
    
}

@media (max-width: 480px) {
    .contacts_title {
        font-size: var(--screenTitleS);
    }

    .contacts_text {
        font-size: var(--plainTextS);
        text-align: center;
        align-self: center;
    }

    .contacts_block {
        align-items: center;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
    }

}

























.circle {
    width: 1260px;
    height: 1260px;
    position: absolute;
    right: -750px;
    top: -400px;
    background: linear-gradient(180deg, #21CEB6 23.22%, rgba(11, 88, 206, 0.74) 63.14%);
    border-radius: 50%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, .35); 
}

.inner_circle {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .35); 
}