.screen {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacts_block {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}

.map_block {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    filter: grayscale(100);
}

.map {
    width: 100%;
    height: 100%;
}



























.circle {
    width: 1260px;
    height: 1260px;
    position: absolute;
    right: -750px;
    top: -400px;
    background: linear-gradient(180deg, #21CEB6 23.22%, rgba(11, 88, 206, 0.74) 63.14%);
    border-radius: 50%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, .35); 
}

.inner_circle {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .35); 
}