.popup {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

.wrapper {
    width: 60%;
    border-right: 1px solid white;
    padding: 0 50px 0 0;
}

.car_type_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    padding-bottom: 15px;
    gap: 10px;
}

.price_box {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.price_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.old_price {
    font-size: var(--plainTextM);
    line-height: var(--plainTextM);
    text-decoration: line-through;
    color: white;
    margin: 0;
    padding: 0;
}

.info_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    gap: 5px;
    min-width: 320px;
    box-sizing: border-box;
}
.info {
    font-size: var(--plainTextM);
    line-height: var(--plainTextM);
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 200;
}
.summary {
    font-size: 30px;
    line-height: 30px;
    color: white;
    margin: 0;
    padding: 0;
    color: white;
    margin-bottom: 50px;
}

.final_price {
    font-size: 50px;
    line-height: 45px;
    color: white;
    margin: 0;
    padding: 0;
    color: white;
}

.car_icon {
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 20px;
    width: auto;
    height: 40px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.car_icon:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
}

.car_image {
    height: 30%;
}

.icon_caption {
    font-family: inherit;
    font-size: 12px;
    color: white;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

.car_icon_selected {
    border: 3px solid white;
    border-radius: 10px;
    width: auto;
    height: 40px;
    padding: 0 20px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, .2);
}

.ref_checkbox_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.ref_checkbox {
    width: 15px;
    height: 15px;
}

.input_ref_label {
    color: white;
}
.input_ref_label_disabled {
    color: white;
    opacity: .5;
}

.order_form {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.input_userdata_label {
    color: white;
    align-self: flex-start;
    margin: 20px 0 10px 0;
    padding: 0;
}

.input_userdata_label:first-of-type {
    margin-top: 0;
}

.close_button {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.form_caption {
    color: white;
    font-weight: 200;
}

.input {
    width: 100%;
    height: 40px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 0 15px;
    background-color: transparent;
    font-family: inherit;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
}


.input:focus {
    outline: 1px solid white;    
}

.submit_button {
    width: 150px;
    height: 40px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    font-family: inherit;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    cursor: pointer;
    z-index: 2;
    margin-top: 30px;
}

@media (max-width: 1300px) {
    .wrapper {
        width: auto;
    }
    .popup {
        justify-content: space-between;
    }
}

@media (max-width: 1100px) {
    .wrapper {
        width: 100%;
        border: none;
    }
    .popup {
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .price_box {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 50px;
    }
    .info_wrapper {
        align-items: flex-start;
    }
    .price_wrapper {
        justify-content: flex-start;
    }
}
@media (max-width: 750px) {
    .price_box {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .price_wrapper {
        margin-top: 50px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        gap: 10px;
    }
    .summary {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .info {
        font-size: 10px;
    }
    .summary {
        font-size: var(--headSFont);
        line-height: var(--headSFont);
    }
    .final_price {
        font-size: 30px;
    }
    .car_icon {
        padding: 0 10px;
    }
    .car_icon_selected {
        padding: 0 10px;
    }
}

@media (max-width: 450px) {
    .input_ref_label {
        font-size: 10px;
    }
    .input_ref_label_disabled {
        font-size: 10px;
    }
    .form_caption {
        font-size: 10px;
    }
    .input_userdata_label {
        font-size: 10px;
    }
    .input {
        height: 30px;
        border-radius: 7px;
        font: 10px;
        font-size: 10px;
    }
    .submit_button {
        height: 30px;
        border-radius: 7px;
        font-size: 10px;
    }
    .icon_caption {
        font-size: 8px;
    }
    .car_icon {
        height: 30px;
        padding: 0 10px;
        border-radius: 5px;
        min-width: 40px;
    }
    .car_icon_selected {
        height: 30px;
        padding: 0 10px;
        border-radius: 5px;
        min-width: 40px;
    }
    .car_type_wrapper {
        gap: 10px;
        flex-wrap: wrap;
    }

}
    

@media (max-width: 400px) {
 .popup {
    padding: 20px 0;
 }
 .info {
    font-size: 8px;
 }
 .price_box {
    margin-bottom: 20px;
 }
 .price_wrapper {
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
 }
}