.screen {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 100px 120px 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    text-align: left;
    color: #383838;
    z-index: 2;
}

.description {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    padding: 0;
    margin: 30px 0 0 0;
    max-width: 490px;
    text-align: center;
}

.calc_box {
    margin: 70px 0 0 0;
    width: 900px;
    height: 500px;
    border: none;
    border-radius: 20px;
    background-color: #e5e5e5;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25); 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 70px 140px;
}


.calc_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}



.input_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 50px;
    
}


.input_label {
    font-size: 20px;
    line-height: 25px;
    color: #383838;
    font-weight: 400;
}


.input {
    width: 100%;
    height: 46px;
    border: 1px solid #383838;
    border-radius: 8px;
    padding: 0 15px;
    background-color: #f3f3f3;
    font-family: inherit;
    font-size: 20px;
    color: #383838;
    box-sizing: border-box;
}


.input:focus {
    outline: 1px solid #383838;    
}

.input_option {
    font-size: 15px;
    line-height: 20px;
    color: #383838;
    font-weight: 200;
}




.submit_button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #383838;
    color: white;
    font-family: inherit;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    z-index: 2;
}

.circle {
    width: 1260px;
    height: 1260px;
    position: absolute;
    left: -750px;
    top: 35%;
    background: linear-gradient(180deg, #21CEB6 23.22%, rgba(11, 88, 206, 0.74) 63.14%);
    border-radius: 50%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, .35); 
}

.inner_circle {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .35); 
}


@media (max-width: 1000px) {
    .screen { 
        padding: 100px 50px 200px;
    }

    .calc_box {        
        padding: 50px;
        width: 100%;
    }

  
}

@media (max-width: 550px) {
    .input {
        height: 30px;
    }
    .screen { 
        padding: 100px 20px 150px;
    }

    .calc_box {        
        padding: 50px 60px;
        width: 100%;
        align-items: flex-start;
        height: auto;
        border-radius: 10px;
    }
    .calc_form {
        justify-content: flex-start;
        gap: 20px;
    }
    .input_wrapper {
        margin-bottom: 0;
    }

    .title {
       
        font-size: 30px;
        line-height: 35px;
        text-align: center;
       
    }

    .description {
        font-size: 15px;
        line-height: 20px;
        max-width: 300px;
    }
    .submit_button {
        width: 100px;
        height: 30px;
        border-radius: 6px;
        font-size: 10px;
        line-height: 10px;
        margin-top: 20px;
    }

  
}

@media (max-width: 400px) {
    

    .calc_box {        
        padding: 30px 40px;
       
    }
    

    .input_label {
        font-size: 15px;
        line-height: 20px;
    }
    .input_option {
        font-size: 10px;
        line-height: 15px;
    }

  
}

