.screen {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.swiper {
    width: 100%;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0, .35); 
}

.slide {
    border-radius: 20px;
    position: relative;
}

.left_title {
    font-size: var(--headLFont);
    position: absolute;
    top: 35px;
    left: 35px;
    margin: 0;
    padding: 0;
    z-index: 5;
    color: white;
}

.right_title {
    position: absolute;
    top: 35px;
    right: 35px;
    margin: 0;
    padding: 0;
    z-index: 5;
    color: white;
    font-size: var(--headLFont);
}

.slide_img {
   width: 100%;
   object-fit: cover;
   height: auto;
   filter: grayscale(100%) contrast(50%);
}

.index {
    position: absolute;
    bottom: 20px;
    left: 35px;
    margin: 0;
    padding: 0;
    font-size: 200px;
    color: white;
    z-index: 5;
}

.text_box {
    position: absolute;
    right: 35px;
    bottom: 35px;
    z-index: 5;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 2px solid white;
}

.desc_title {
    text-align: right;
    color: white;
    font-size: var(--headLFont);
}

.description {
    text-align: right;
    color: white;
    font-size: var(--plainTextL);
}









.circle {
    width: 1260px;
    height: 1260px;
    position: absolute;
    left: -750px;
    top: 35%;
    background: linear-gradient(180deg, #21CEB6 23.22%, rgba(11, 88, 206, 0.74) 63.14%);
    border-radius: 50%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, .35); 
}

.inner_circle {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .35); 
}

@media (max-width: 1200px) {

    .slide_img {
        width: 150%;
    }

}


@media (max-width: 960px) {
    .desc_title {
        font-size: var(--headMFont);
    }

    .right_title {
        font-size: var(--headMFont);
    }

    .left_title {
        font-size: var(--headMFont);
    }

    .description {
        font-size: var(--plainTextM);
    }

    .screen { 
        padding: 100px 20px;
    }

    .index {
        font-size: 100px;
    }

    .screen { 
        height: auto;
    }

    .swiper {
        height: 50vh;
    }

}

@media (max-width: 750px) {

    .swiper {
        height: 40vh;
    }


    .screen {
        margin: 50px 0;
        padding: 0 20px;
    }


    

    .text_box {
        max-width: 50%;
    }




}

@media (max-width: 550px) {
    .swiper {
        border-radius: 10px;
    }
    .screen { 
        padding: 20px 10px;
    }
    .text_box {
        max-width: calc(100% - 70px);
    }
    .right_title {
        display: none;
    }

    .index {
        display: none;
    }

    .left_title {
        position: absolute;
        left: auto;
        top: 35px;
        right: 35px;
    }


  
}

@media (max-width: 480px) {
    .swiper {
        height: auto;
    }

    .slide_img {
        height: 100%;
        width: auto;
    }
    

    .screen {
        height: calc(50vh + 100px);
    }

    .left_title {
        font-size: var(--headSFont);
    }

    .desc_title {
        font-size: var(--headSFont);
    }

    .description {
        font-size: var(--plainTextS);
        font-weight: var(--lightFont);
    }

  
}

