.screen {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 150px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    margin: 0;
    padding: 0;
    font-size: var(--screenTitleL);
    line-height: 40px;
    font-weight: 600;
    text-align: left;
    color: #383838;
    z-index: 2;
    align-self: flex-start;
}

.description {
    font-size: var(--plainTextL);
    line-height: 20px;
    font-weight: 400;
    padding: 0;
    margin: 30px 0 0 0;
    max-width: 490px;
    text-align: left;
    align-self: flex-start;
}

.cards_block {
    width: 100%;
    padding: 0;
    margin: 150px 0 0 0;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
}

.card {

    position: relative;
    width: 100%;
    height: 100%;
    min-height: 450px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    background-color: #e5e5e5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
    
}

.post_cover {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(2px);
    filter: brightness(50%);
    opacity: .8;
    object-fit: cover;
}

.card_title {
    width: 70%;
    font-size: var(--headLFont);
    line-height: 35px;
    font-weight: 400;
    z-index: 2;
    color: white;
    margin: 0;
    padding: 0;
}

.line {
    width: 1px;
    height: 70px;
    background-color: white;
    transform: translateX(-35px) rotate(-45deg);
    z-index: 2;
    align-self: flex-end;
}


.button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #383838;
    color: white;
    font-family: inherit;
    font-size: var(--buttonTextL);
    line-height: 15px;
    font-weight: 400;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    z-index: 2;
    margin-top: 100px;
    cursor: pointer;
}

.link {
    cursor: pointer;
    text-decoration: none;
}


.geolabel {
    width: 1000px;
    height: 1400px;
    background: linear-gradient(180deg, #21CEB6 23.22%, rgba(11, 88, 206, 0.74) 63.14%);
    box-shadow: 0 0 30px rgba(0, 0, 0, .35); 
    position: absolute;
    left: -100px;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;
    transform: translateX(-500px) rotate(30deg);
}

.inner {
    width: 800px;
    height: 1200px;
    background: white;
    border-top-right-radius: 400px;
    border-top-left-radius: 400px;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .35); 
}



@media (max-width: 800px) {
    .screen {
        padding: 100px 20px;
    }

    .cards_block {
        gap: 20px;
    }

    .post_cover {
        height: 200%;
    }
  
}


@media (max-width: 660px) {

    .title {
        font-size: 30px;
        line-height: 35px;
        text-align: center; 
        align-self: center;
    }

    .card {
        min-height: 250px;
        height: 300px;
    }
    
    
    .card_title {
        font-size: 20px;
        line-height: 25px;
    }
    .button {
        width: 100px;
        height: 30px;
        font-size: 10px;
        line-height: 10px;
        border-radius: 6px;
    }
    
}

@media (max-width: 500px) {
    .screen {
        padding: 100px 10px;
    }
   .cards_block {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 10px;
   }

   .card {
        min-height: 150px;
        height: 200px;
   }

   .description {
    text-align: center;
   }
}

@media (max-width: 480px) {
    .screen {
        padding: 100px 10px;
    }
   .cards_block {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 10px;
   }

   .card {
        min-height: 150px;
        height: 200px;
        border-radius: 10px;
        padding: 20px;
   }

   .description {
        text-align: center;
        font-size: var(--plainTextS);
   }

   .title {
        font-size: var(--screenTitleS);
   }

   .card_title {
    font-size: var(--headSFont);
    line-height: 20px;
   }

   .line {
        height: 50px;
        background-color: white;
        transform: translateX(-25px) rotate(-45deg);
   }

   .button {
    width: 150px;
    height: 40px;
    font-size: var(--buttonTextS);
    margin-top: 100px;
   }
}