



.screen {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
    position: relative;
    margin: 0 auto;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.bg_image {
    position: absolute;
    top: 0;
    left: 0px;
    width: auto;
    min-height: 100vh;
    z-index: 0;
    filter: contrast(50%)
}
.trapezoid_left {
    width: 600px;
    height: 400px;
    background: linear-gradient(190deg, #21CEB6 3.79%, #0B58CE 140.92%);
    position: absolute;
    left: -150px;
    top: -50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .35); 
    z-index: 1;
    transform: translateY(0px) skewY(-11deg);
    opacity: .8;
}
.trapezoid_right {
    width: 1500px;
    height: 400px;
    background: linear-gradient(10deg, #21CEB6 3.79%, #0B58CE 140.92%);
    position: absolute;
    right: -150px;
    bottom: -300px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .35); 
    z-index: 1;
    transform: translateY(0px) skewY(-11deg);
    opacity: .8;
}
.bg_circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: -600px;
    top: -600px;
    background: linear-gradient(180deg, #21CEB6 23.22%, rgba(11, 88, 206, 0.74) 63.14%);
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, .35); 
    
}

.bg_inner_circle {
    width: 740px;
    height: 740px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .35); 
}





@media (max-width: 1000px) {
    .trapezoid_right {
        display: none;
    }
}

@media (max-width: 800px) {
    .screen {
        align-items: center;
    }
   .calc_box {
    margin-top: 50px;
   }

   .bg_circle {
    display: none;
   }

   .bg_inner_circle {
    display: none;
   }
   .trapezoid_left {
    width: 320px;
    height: 25vh;
    position: absolute;
    left: 0px;
    top: -50px;
}
}



@media (max-width: 650px) {
    .screen {
        align-items: center;
    }
    .calc_box {
        padding: 50px;
        width: 100%;
        margin-left: 0;
    }

    .calc_title {
        font-size: 20px;
        line-height: 25px;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .calc_box {
        padding: 50px 30px;
        width: calc(100% + 40px);
    }


    .input_option {
        font-size: 10px;
        line-height: 15px;
    }
}

@media (max-width: 380px) {
    .calc_box {
        padding: 50px 20px;
        width: 100%;
    }
}

