@import url(../vendors/normalize.css);
@import url(../vendors/fonts.css);

:root {
  --lightFont: 200;
  --boldFont: 600;


  --headLFont: 28px;
  --headMFont: 23px;
  --headSFont: 18px;

  --buttonTextS: 13px;
  --buttonTextM: 14px;
  --buttonTextL: 16px;

  --plainTextS: 13px;
  --plainTextM: 14px;
  --plainTextL: 16px;

  --screenTitleL: 35px;
  --screenTitleM: 30px;
  --screenTitleS: 25px;
}


body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 320px;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: white;
  font-display: swap !important;
}




