.page {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.page::-webkit-scrollbar {
  width: 0px; /* ширина для вертикального скролла */
  background-color: transparent;
}