.header {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 0 30px rgba(0, 0, 0, .9);  */
}

.wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}
.callback_link {
    height: 40px;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-decoration: none;
    background-color: #383838;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25)
}

.callback_link:hover {
    opacity: .75;
    transition: all .3s ease-out;
}
.main_text_block {
    width: auto;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
    box-sizing: border-box;
    gap: 20px;
}
.logo {
    width: 150px;
    z-index: 5;
    height: auto;
    margin-top: 5px;
}
.icon_logo {
    height: 33px;
    width: auto;
    z-index: 5;
    display: none;
}
.text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 5;
}
.caption {
    color: #383838;
    z-index: 5;
    margin: 0;
    padding: 0;
    font-size: var(--plainTextL);
    line-height: var(--plainTextL);
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}
.caption:hover {
    color: rgba(11, 88, 206, 0.74);
    transition: all .3s ease-out;
}

@media (max-width: 800px) {
   .text_wrapper {
    margin: 0;
    padding: 0;
    border: none;
   }


   .text_wrapper {
    display: none;
   }

   .callback_link {
    display: none;
   }
   /*
   .logo {
    display: none
   }
   .icon_logo {
    display: block;
   }*/
    
}
@media (max-width: 450px) {

   .header {
     padding: 15px 20px;
   }
    
}
