@import '../../../app/css-constants';

.page {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 25px;
  }
  
  .page::-webkit-scrollbar {
    width: 0px; /* ширина для вертикального скролла */
    background-color: transparent;
  }

.main_screen {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.breadcrumbs_wrapper {
    width: 100%;
    margin-bottom: 25px;
}
.bg_image {
    position: absolute;
    top: 0;
    left: 0px;
    width: auto;
    min-height: 100vh;
    z-index: 0;
    filter: grayscale(100%) contrast(50%) blur(3px);
}

.title_wrapper {
    width: 80%;
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: transparent;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;
}

.title_logo {
    width: auto;
    height: 50px;
}

.line {
    width: 2px;
    height: 50px;
    background-color: white;
}

.title {
    color: white;
    text-transform: uppercase;
    font-size: var(--headLFont);
    line-height: var(--headLFont);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.features_screen {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    grid-auto-flow: row;
    margin-top: 25px;
}
.features_screen_disabled {
    display: none;
    visibility: hidden;
    margin: 0;
    padding: 0;
}
.feature_card {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.feature_link {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden; 
    height: 380px;
    max-height: 380px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.card_cover {
    position: absolute;
    top: 0;
    width: auto;
    height: 380px;
    max-height: 380px;
    object-fit: cover;
    filter: grayscale(100%) blur(3px);
    z-index: 1;
}

.card_cover:hover {
    filter: grayscale(0) blur(0);;
    transform: scale(105%);
    transition: transform .3s ease-out;
}

.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: auto;    
    z-index: 2;
}

.card_title_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
    box-sizing: border-box;
}
.card_title {    
    @include secondary-title;
    color: $main-gray;
    z-index: 2;
}
.card_number {
    @include main-title;
    color: $main-gray;
    z-index: 2;
    align-self: flex-start;
}

.secondary_services {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.secondary {
    @include minitext;
    text-transform: lowercase;
    height: 34px;
    width: auto;
    border-radius: 6px;
    background: $main-black;
    margin: 0;
    padding: 0 15px;   
    color: $main-gray;
    cursor: pointer;

    &:hover {
        background: $main-blue;
        transition: background .3s ease-out;
    }
}


.calc_wrapper {
    width: 100%;
    margin-top: 100px;
}

.secondary_link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
}

.text_screen {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.html_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;

    & > p {
        @include minitext;
        color: $main-black;
    }

    & > h2 {
        @include secondary-title;
        color: $main-black;
    }
    & > h3 {
        @include secondary-title;
        color: $main-black;
    }

    & > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    & > ul > li {
        @include minitext;
        color: $main-black;
    }
}

.text_screen_title {
    @include secondary-title;
    color: $main-black;
    font-family: inherit;
    margin-bottom: 15px;
}

.paragraph {
    @include minitext;
    color: $main-black;
    margin-bottom: 15px;
}


@media (max-width: 480px) {
    .title_wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .line {
        display: none;
    }

    .title {
        text-align: center;
        font-size: 16px;
        line-height: 18px;
    }

    .features_screen {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        gap: 2px;
    }

    .feature_card {
        width: 100%;
        height: 100%;
        max-height: 220px;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
    }

    .feature_link {
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        max-height: 220px;
    }

    .card_number {
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .card_cover {
        object-fit: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        filter: none;
        width: auto;
        height: 100%;
        filter: brightness(75%);
    }

    .logo {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .card_title_wrapper {
        position: absolute;
        left: 15px;
        bottom: 15px;
    }

    .card_title {
        font-size: 16px;
        line-height: 18px;
    }

    .secondary_services {
        padding: 50px 10px 150px 10px;
    }

    .secondary {
        height: 30px;
        width: auto;
        border: 1px solid black;
        border-radius: 25px;
        margin: 0;
        padding: 0 20px;
        color: black;
        font-size: 10px;
        line-height: 10px;
        background: transparent;
    }

    .text_screen {
        padding: 50px 15px 150px 15px;
    }

    .text_screen_title {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 50px;
    }

    .paragraph {
        font-size: 10px;
        line-height: 14px;
    }
}