.screen {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 150px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* digits */


.digits {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 0 75px 0;
    padding: 100px 120px;
    
}

.digits_bg {
    background: linear-gradient(90deg, #21CEB6 0.22%, rgba(11, 88, 206, 0.74) 90.14%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transform: skewY(-2deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}


.digits_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 2;
}


.counter {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 65px;
    font-weight: 600;
    text-align: right;
    color: white;
}

.description {
    margin: 0;
    padding: 0;
    font-size: var(--plainTextL);
    line-height: 20px;
    font-weight: 600;
    text-align: right;
    color: white;
}

.line {
    width: calc(100% + 240px + 100px);
    height: 5px;
    background: linear-gradient(90deg, #21CEB6 3.79%, #0B58CE 140.92%);
}


/* CEO & text */


.about_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    margin-top: 75px;
    padding: 0 20px;
    box-sizing: border-box;
}

.left_column {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    box-sizing: border-box;
}

.avatar_wrapper {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(190deg, #21CEB6 3.79%, #0B58CE 140.92%);
}

.avatar {
    width: 200px;
    transform: translateX(21px) rotate(8deg);
}

.credits_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 30px
}

.credits {
    margin: 0;
    padding: 0;
    font-size: var(--plainTextL);
    line-height: 20px;
    font-weight: 600;
    text-align: left;
    color: #383838;
}


.right_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    box-sizing: border-box;
}

.text {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: var(--plainTextL);
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
    color: #383838;
}

.link_button_wrapper {
    z-index: 2;
}

.buttons_wrapper {
    width: 100%;
    margin: 100px 0 0 0;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    gap: 50px;
}

.button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #383838;
    color: white;
    font-family: inherit;
    font-size: var(--buttonTextL);
    line-height: 15px;
    font-weight: 400;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    z-index: 2;
    cursor: pointer;
}



@media (max-width: 1150px) {
    .screen {
        padding: 150px 40px;
    }
}
@media (max-width: 960px) {
    .digits {
        gap: 20px;
    }
    .about_block {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .left_column {
        width: 100%;
    }
    .right_column {
        width: 100%;
        margin-top: 50px;
    }

    .credits {
        font-size: var(--plainTextM);
    }

    .text {
        font-size: var(--plainTextM);
    }

    .button {
        font-size: var(--buttonTextM);
    }
}



@media (max-width: 650px) {

    

    .counter {
        font-size: 40px;
        line-height: 45px;
    }
    .description {
        font-size: var(--plainTextM);
        line-height: 15px;
    }

    .avatar_wrapper {
        width: 100px;
        height: 100px;
    }
    .avatar {
        width: 100px;
        transform: translateX(13px) rotate(8deg);
    }
    .button {
        width: 150px;
        height: 40px;
        border-radius: 6px;
        font-size: 10px;
        line-height: 10px;
    }

    .buttons_wrapper {
        justify-content: center;
    }
    
}

@media (max-width: 480px) {

    .screen {
        padding: 100px 10px;
    }

    .digits {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .digits_wrapper {
        align-items: center;
    }

    .credits {
        font-size: 10px;
        line-height: 15px;
        text-align: right;
    }

    .text {
        font-size: 10px;
        line-height: 15px;
        
    }

    .credits_wrapper {
        margin-left: 0;
        align-items: flex-end;
    }

    .counter {
        font-weight: 700;
    }

    .description {
        font-size: var(--plainTextS);
    }

    .left_column {
        padding: 0;
        justify-content: space-between;
    }

    .credits {
        font-size: var(--plainTextS);
        font-weight: 600;
    }

    .text {
        font-size: var(--plainTextS);
        line-height: 18px;
    }

    .buttons_wrapper {
        gap: 10px;
    }

    .button {
        width: 145px;
        height: 40px;
        font-size: var(--buttonTextS);
    }
}
