

.screen {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 150px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    margin: 0;
    padding: 0;
    font-size: var(--screenTitleL);
    line-height: 40px;
    font-weight: 600;
    text-align: left;
    align-self: flex-start;
    color: #383838;
    z-index: 2;
}

.subtitle {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    padding: 0;
    margin: 30px 0 0 0;
    max-width: 490px;
    text-align: left;
    align-self: flex-start;
}

.cards_block {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    gap: 50px;
    margin: 50px 0 100px;
    z-index: 2;
}


.card {
    background-color: transparent;
    width: 100%;
    height: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(56,56,56,.8);
    backdrop-filter: blur(4px);
}

.feature_card_cover {
    width: 100%;
    background-color: rgba(56,56,56,.6);
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: grayscale(100%)
}

.card_title {
    margin: 0;
    padding: 0;
    font-size: var(--headLFont);
    line-height: 35px;
    font-weight: 400;
    color: white;
    max-width: 300px;
}

.card_subtitle {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    color: white;
    max-width: 300px;
}

.card_subtitle:first-of-type {
    margin-top: 30px;
}


.line {
    width: 1px;
    height: 70px;
    background-color: white;
    transform: translateX(-35px) rotate(-45deg);
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.link {
    text-decoration: none;
}

.button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #383838;
    color: white;
    font-family: inherit;
    font-size: var(--buttonTextL);
    line-height: 15px;
    font-weight: 400;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    z-index: 1;
    cursor: pointer;
}

.link_button_wrapper {
    z-index: 1;
}



.trapezoid {
    z-index: 0;
    height: 90%;
    width: calc(40% + 100px);
    position: absolute;
    right: -100px;
    top: 50%;
    background: linear-gradient(180deg, #21CEB6 23.22%, rgba(11, 88, 206, 0.74) 63.14%);
    transform: skewY(-11deg);
    box-shadow: 0 0 30px rgba(0, 0, 0, .35);
}




@media (max-width: 1200px) {
    .screen {
        padding: 100px 50px;
    }
}


@media (max-width: 1000px) {
    .screen {
        padding: 100px 30px;
    }

    .cards_block {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 30px;
    }

    .trapezoid {
        height: 50%;
    }
}

@media (max-width: 550px) {

    .screen {
        padding: 150px 10px;
    }

    .card {
        height: 180px;
        padding: 20px;
        border-radius: 10px;
    }
    

    .card_title {
       
        font-size: 20px;
        line-height: 25px;
       
    }

    .card_subtitle {
        font-size: 20px;
        line-height: 25px;
    }

    .title {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        align-self: center;
    }

    .cards_block {
        gap: 20px;
    }
}


@media (max-width: 480px) {
    .title {
        font-size: var(--screenTitleS);
    }

    .card_title {
        font-size: var(--headSFont);
    }

    .line {
        height: 50px;
        transform: translateX(-25px) rotate(-45deg);
    }

    .cards_block {
        gap: 10px;
    }

    .button {
        font-size: var(--buttonTextS);
    }
}
