.trapezoid {
    z-index: 0;
    height: 90%;
    width: calc(40% + 100px);
    position: absolute;
    right: -100px;
    top: 50%;
    background: linear-gradient(180deg, #21CEB6 23.22%, rgba(11, 88, 206, 0.74) 63.14%);
    box-shadow: 0 0 30px rgba(0, 0, 0, .35);
}