.footer {
    width: 100%;
    margin: 0;
    padding: 100px 120px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.link {
    text-decoration: none;
    color: #383838;
    font-size: var(--plainTextL);
}

.title {
    font-size: var(--screenTitleL);
}


@media (max-width: 1000px) {
    .footer {
        padding: 50px 100px;
    }
}


@media (max-width: 500px) {
    .footer {
        padding: 30px;
    }
}