@import '../../../app/css-constants';

.screen {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 100px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px 100px;
    flex-wrap: wrap;
    background: $main-gray;       
    margin-top: 25px;
    border-radius: 6px 6px 0 0;

    @media (max-width: 1024px) {
        padding: 150px 80px 80px;
        gap: 100px;
    }

    @media (max-width: 768px) {
        padding: 100px 50px 50px;
        gap: 70px;
        margin-top: 50px;
    }

    @media (max-width: 500px) {
        padding: 50px 25px 25px;
        gap: 40px;
        margin-top: 30px;
    }

    &__client-logo {
        filter: grayscale(100%);
        opacity: 75%;
        min-height: 50px;
        max-height: 50px;
        width: auto;

        &--small {
            min-height: 30px;
            max-height: 30px;
        }

        &:hover {
            filter: grayscale(0%);
            opacity: 100%;
            transition: all .3s ease-out;
        }

        @media (max-width: 768px) {
            max-height: 40px;
        }

        @media (max-width: 500px) {
            max-height: 30px;
        }
    }
}
