.screen {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}



.types_box {
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #dbdbdb;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25); 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    overflow: hidden;
    border-radius: 20px;
}

.column {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.swiper {
    width: 100%;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .35); 
}

.slide {
    border-radius: 20px;
    position: relative;
}

.left_title {
    position: absolute;
    top: 35px;
    left: 35px;
    margin: 0;
    padding: 0;
    z-index: 5;
    color: white;
}

.right_title {
    position: absolute;
    top: 35px;
    right: 35px;
    margin: 0;
    padding: 0;
    z-index: 5;
    color: white;
}

.slide_img {
   width: 100%;
   object-fit: cover;
   height: auto;
   filter: grayscale(100%) contrast(50%);
}

.index {
    position: absolute;
    bottom: 20px;
    left: 35px;
    margin: 0;
    padding: 0;
    font-size: 200px;
    color: white;
    z-index: 5;
}

.text_box {
    position: absolute;
    right: 35px;
    bottom: 35px;
    z-index: 5;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 2px solid white;
}

.desc_title {
    text-align: right;
    color: white;
}

.description {
    text-align: right;
    color: white;
}









.circle {
    width: 1260px;
    height: 1260px;
    position: absolute;
    left: -750px;
    top: 35%;
    background: linear-gradient(180deg, #21CEB6 23.22%, rgba(11, 88, 206, 0.74) 63.14%);
    border-radius: 50%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, .35); 
}

.inner_circle {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .35); 
}


@media (max-width: 1000px) {
    .screen { 
        padding: 100px 20px;
    }

    .calc_box {        
        padding: 50px;
        width: 100%;
    }

    .column_title {
        font-size: 25px;
        line-height: 25px;
    }

    .link {
        font-size: 15px;
        line-height: 20px;
    }

  
}

@media (max-width: 800px) {

    .index {
        font-size: 100px;
    }

    .slide_img {
        width: 120%;
    }

    .screen { 
        height: none;
    }
    .types_box {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
    }
    .image {
        position: initial;
        width: 200%;
    }
    .column {
        justify-content: flex-start;
        align-items: center;
        height: auto;
    }

    .column:last-of-type {
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }

}

@media (max-width: 650px) {

    .slide_img {
        height: 100%;
        width: auto;
    }

    .index {
        display: none;
    }

    .right_title {
        display: none;
    }

    .left_title {
        font-size: 20px;
        position: absolute;
        top: 35px;
        right: 35px;
        text-align: right;
    }

    .desc_title {
        font-size: 20px;
    }

    .screen {
        margin: 50px 0;
        padding: 0 20px;
    }


    .text_box {
        max-width: calc(100% - 70px);
    }



}

@media (max-width: 550px) {
    .swiper {
        border-radius: 10px;
    }
    .input {
        height: 30px;
    }
    .screen { 
        padding: 20px 10px;
    }

    .calc_box {        
        padding: 50px 60px;
        width: 100%;
        align-items: flex-start;
        height: auto;
        border-radius: 20px;
    }
    .calc_form {
        justify-content: flex-start;
        gap: 20px;
    }
    .input_wrapper {
        margin-bottom: 0;
    }

    .title {
       
        font-size: 30px;
        line-height: 30px;
        text-align: center;
       
    }

    .description {
        max-width: 300px;
    }
    .submit_button {
        width: 100px;
        height: 30px;
        border-radius: 6px;
        font-size: 10px;
        line-height: 10px;
        margin-top: 20px;
    }
    .input_option {
        font-size: 10px;
        line-height: 15px;
    }

  
}

@media (max-width: 400px) {
    

    .calc_box {        
        padding: 30px 40px;
       
    }
    

    .input_label {
        font-size: 15px;
        line-height: 20px;
    }
   

  
}

