/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/not-found.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.not-found_page__VFIr4 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.not-found_title__bOfUG {
    font-size: var(--screenTitleL);
}

.not-found_subtitle__08lp3 {
    font-size: var(--plainTextL);
}

.not-found_link__IQtjE {
    color: black;
    text-decoration: underline;
    font-size: var(--plainTextL);
}
