



.screen {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
    position: relative;
    margin: 0 auto;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}


/* main text */


.main_text_block {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
    box-sizing: border-box;
}



.text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 5;
    margin-left: 50px;
    border-left: 2px solid #383838;
    padding-left: 50px;
}



.caption {
    color: #383838;
    z-index: 5;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}




.logo {
    width: 150px;
    z-index: 5;
}
.icon_logo {
    height: 33px;
    z-index: 5;
    display: none;
}


.page_title {
    color: white;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: left;
}



/* main card */

.main_card {
    width: 100%;
    height: auto;
    margin: auto 0;
    padding: 25px;
    background-color: rgba(56, 56, 56, .6);;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card_title_column {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 25px;
    box-sizing: border-box;
}

.card_description_column {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    padding: 25px;
    border-left: 1px solid white;
    box-sizing: border-box;
}

.params {
    color: white;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
}





/* other */






.bg_circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: -600px;
    top: -600px;
    background: linear-gradient(180deg, #21CEB6 23.22%, rgba(11, 88, 206, 0.74) 63.14%);
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, .35); 
}

.bg_inner_circle {
    width: 740px;
    height: 740px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, .35); 
}





@media (max-width: 800px) {
    .screen {
        align-items: center;
    }

   .text_wrapper {
    margin: 0;
    padding: 0;
    border: none;
   }

   .logo {
    margin-bottom: 30px;
   }

   .calc_box {
    margin-top: 50px;
   }

   .bg_circle {
    display: none;
   }

   .bg_inner_circle {
    display: none;
   }

   .text_wrapper {
    display: none;
   }
   .logo {
    display: none
   }
   .icon_logo {
    display: block;
   }
    
}






@media (max-width: 650px) {
    .screen {
        align-items: center;
        height: auto;
    }
   

    .main_card {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 50px auto;
    }

    .card_title_column {
        width: 100%;
        align-items: center;
    }

    .card_description_column {
        width: 100%;
        border-left: none;
        border-top: 1px solid white;
        align-items: center;
    }


}

@media (max-width: 450px) {
    .calc_box {
        padding: 50px 30px;
        width: calc(100% + 40px);
    }


    .input_option {
        font-size: 10px;
        line-height: 15px;
    }
}

@media (max-width: 380px) {
    .calc_box {
        padding: 50px 20px;
        width: calc(100% + 50px);
    }
}

