@import '../../../app/css-constants';
.screen {
    width: 100%;
    margin-top: 25px;
    padding: 100px 25px 25px 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: $main-gray;

    @media (max-width: 768px) {
        padding: 15px;
    }

    @media (max-width: 500px) {
        padding: 10px;
        padding-bottom: 25px;
    }

    &__title-wrapper {
        width: calc(50% - 50px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        margin-left: 50px;

        @media (max-width: 900px) {
            width: 100%;
            margin-top: 10px;
            margin-left: 10px;
        }
    
    }

    &__title {
        @include main-title;
    }
    &__subtitle {
        @include subtext;
    }


    &__table {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 100px;
        gap: 25px;

        &--last {
            margin-top: 25px;
        }

        @media (max-width: 900px) {
            flex-direction: column-reverse;
        }
    }
    

    &__table-column {
        width: 50%;
        border-radius: 6px;

        @media (max-width: 900px) {
            width: 100%;
        }    

        &--left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0 50px;
           

            @media (max-width: 900px) {
                padding: 0px 15px;
            }    
        }

        &--right-no-grid {
            display: flex;
            aspect-ratio: 3 / 2;
            padding-left: 10px;
        }
        &--right {
            
            overflow: hidden;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 2px;
            padding-left: 10px;
            aspect-ratio: 3 / 2;

            & > img {
                width: 100%;
                height: auto;
                object-fit: cover;
                transform: scale(300%);
                filter: grayscale(100%);
                object-position: left top;
    
    
                @media (max-width: 900px) {
                    object-position: top left;
                }   
                
            }
    
            & > img:hover {
                filter: grayscale(0%);
                transition: all .3s ease-out;
            }
    
        }
    }

    &__social-img-wrapper {
        width: 100%;
        overflow: hidden;
        border-radius: 6px;

        & > img {
            width: 100%;
            height: auto;
            object-fit: cover;
            transform: scale(150%);
            filter: grayscale(100%);


            @media (max-width: 900px) {
                object-position: top left;
            }   
            
        }

        & > img:hover {
            filter: grayscale(0%);
            transition: all .3s ease-out;
        }

        @media (max-width: 900px) {
            aspect-ratio: 2 / 1;
        } 
    }

    &__text {
        @include subtext;
    }

    &__link {
        text-decoration: underline;
        color: inherit;

        &::after {
            content: ' →';
        }
    }
}