@import url(./vendors/normalize.css);


body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 320px;
  max-width: 1540px;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: white;
  overflow-x: hidden;
}

