@import '../../app/css-constants';

.screen {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    gap: 20px;
}

.feature_card {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}

.card_number {
    @include main-title;
    color: $main-gray;
    z-index: 2;
    align-self: flex-start;
}

.card_cover {
    position: absolute;
    top: 0;
    width: auto;
    height: 380px;
    max-height: 380px;
    object-fit: cover;
    filter: grayscale(100%) blur(3px) brightness(75%);
    z-index: 1;
}

.card_cover:hover {
    filter: grayscale(0) blur(0);
    transform: scale(105%);
    transition: transform .3s ease-out;
}



.card_title_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
    box-sizing: border-box;
}
.card_title {    
    @include secondary-title;
    color: $main-gray;
    z-index: 2;
}


.secondary_services {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.secondary {
    @include minitext;
    text-transform: lowercase;
    height: 34px;
    width: auto;
    border-radius: 6px;
    background: $main-black;
    margin: 0;
    padding: 0 15px;   
    color: $main-gray;
    cursor: pointer;

    &:hover {
        background: $main-blue;
        transition: background .3s ease-out;
    }
}

.secondary_link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
}







@media (max-width: 480px) {
    .screen {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        gap: 2px;
    }

    .feature_card {
        width: 100%;
        height: 100%;
        max-height: 220px;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
    }

    .feature_link {
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        max-height: 220px;
    }

    .card_number {
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .card_cover {
        object-fit: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        filter: none;
        width: auto;
        height: 100%;
        filter: brightness(75%);
    }

    .logo {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .card_title_wrapper {
        position: absolute;
        left: 15px;
        bottom: 15px;
    }

    .card_title {
        font-size: 16px;
        line-height: 18px;
    }

    .secondary_services {
        padding: 50px 10px 150px 10px;
    }

    .secondary {
        height: 30px;
        width: auto;
        border: 1px solid black;
        border-radius: 25px;
        margin: 0;
        padding: 0 20px;
        color: black;
        font-size: 10px;
        line-height: 10px;
        background: transparent;
    }
    
}